.footer__copyright {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  letter-spacing: 0.7px;
}

@media screen and (max-width: 720px) {
  .footer__copyright {
    font-size: 10px;
    line-height: 12px;
  }
}

@media screen and (max-width: 575px) {
  .footer__copyright {
    margin: 0;
    display: flex;
    font-size: 14px;
    line-height: 14px;
    margin-top: 40px;
  }
}
